body {
    height: 100vh;
    background-image: url("Assets/notebook.jpg") ;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    background-attachment: fixed;
    background-color: black;
    font-family:"Courier New", Courier, monospace;
   

}
@media (min-width: 600px) {
    body {
        background-size: 900%;
    }
}

 @media (min-height: 500px) {
    body {
        background-size: auto 90%; 
    }
} 


#gameboard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 90px;
    
    
}


.square {
    width: 100px;
    height: 100px;
    border: solid 2px rgba(0, 0, 0, 0.936);
    box-sizing: border-box;
    display: grid;
    background-color: rgba(245, 245, 245, 0.471);

    
}


.infoDisplay {
    margin: 20px auto;
    width: 30%;
    font-size: 1.5rem;
    text-align: center;

}

/* New class for when it's the player's turn */
.infoDisplay.active {
    background-color: rgba(255, 255, 0, 0.5); /* Change to your desired color */
}


#controls {
    margin: auto;
    padding: 10px;
    width: fit-content;
    height:30px;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:10px;
}


input {
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}


button {
    font-weight: bold;
    align-self: center;
    background-color: rgb(245, 245, 245);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 12px rgb(56, 56, 255);
    box-sizing: border-box;
    margin:auto;
}


.cross {
    height: 90px;
    width: 90px;
    position: relative;
}


.cross:before, .cross:after {
    content:"";
    position:absolute;
    background-color: rgb(252, 82, 82);
    transform: rotate(45deg);
}


.cross:before {
    left: 45%;
    top: 10%;
    width: 20%;
    height: 90%;
}


.cross:after {
    top: 45%;
    left: 10%;
    width: 90%;
    height: 20%;
}


.display-round {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
}
