body {
    height: 100vh;
    background-image: url("Assets/notebooksheet.PNG") ;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
    background-attachment: fixed;
    backdrop-filter: blur(2px);
   

}
@media (min-width: 1000px) {
    body {
        background-size: 100%; /* Adjust to fit the width */
    }
}

@media (min-height: 700px) {
    body {
        background-size: auto 100%; /* Adjust to fit the height */
    }
}


#gameboard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 90px;
    padding-left: 50px ;
    
}


.square {
    width: 100px;
    height: 100px;
    border: solid 3px rgba(0, 0, 0, 0.936);
    box-sizing: border-box;
    display: grid;
    background-color: rgba(245, 245, 245, 0.471);

    
}


.infoDisplay {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, roboto;


}
.display-round {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, roboto;

}
#controls {
    margin: auto;
    width: fit-content;
    height:30px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:10px;

}
input {
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
}
button {
    padding: 10px;
    font-size: 1rem;
    color:whitesmoke;
    border-radius: 20px;
    background-color: rgba(42, 117, 238, 0.998);
    border: none;
    box-shadow: rgba(0, 0, 0, 0) 0 5px 5px 0px; 
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 8px blue;
    box-sizing: border-box;
    margin:auto;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
}

.cross:before, .cross:after {
    content:"";
    position:absolute;
    background-color: red;
    transform: rotate(45deg);
}

.cross:before {
    left: 45%;
    top: 10%;
    width: 20%;
    height: 90%;
}

.cross:after {
    top: 45%;
    left: 10%;
    width: 90%;
    height: 20%;
}